<mat-toolbar *ngIf="isActive" class="navbar">

  <div  routerLink="/home" class="app-name">Eshop-Zone</div>
  <div>

    <span *ngIf="isLoggedIn" routerLink="/home" class="nav-option">Home</span>
    <span *ngIf="isLoggedIn && userRole=='ADMIN'" routerLink="/merchant" class="nav-option">Dashboard</span>
      <span *ngIf="isLoggedIn" routerLink="/orders" class="nav-option">Orders</span>
      <span  *ngIf="isLoggedIn"> 
        <mat-icon [matMenuTriggerFor]="beforeMenu" class="nav-icon">account_circle</mat-icon>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <span routerLink="/profile" mat-menu-item>My Profile</span>
          <span (click)="logOut()" mat-menu-item>Log out</span>
        </mat-menu>
      </span>
      <span>
        <mat-icon  *ngIf="isLoggedIn && userRole=='CUSTOMER'"  routerLink="/cart" class="nav-icon" [matBadge]="cartItemCount" matBadgeColor="warn" [matBadgeHidden]="cartItemCount==0" >shopping_cart</mat-icon>
      </span>

      <span *ngIf="!isLoggedIn" routerLink="/signin" class="nav-option">Log In</span>
  </div>
  
</mat-toolbar>

