<div class="list col-12">
    <mat-card class="card col-lg-4"  *ngFor="let product of products; let i=index" [class.mat-elevation-z3]="true">
        <img mat-card-image [src]="product.imageUrl" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
            <p>{{product.description}}</p>
        </mat-card-content>
        <mat-card-actions class="action">
            <span>{{product.price}}</span>
            <span>
                <button (click)="onClickLog()" mat-button><mat-icon>add_shopping_cart</mat-icon></button>
            </span>
        </mat-card-actions>
    </mat-card>
</div>