.card {
  max-width: 275px;
  max-height: 390px;
  margin: 10px auto;
  display: inline-block;
}
img {
  object-fit: cover;
  max-width: 275px;
  max-height: 200px;
}
.list{
    display: flex;
    flex-wrap: wrap ;
    align-content: flex-start;
    justify-items: left;
}
.action{
    vertical-align: middle;
    padding-left: 10px;
    justify-content: space-between;
}
mat-card-content{
  margin-bottom: 0px;
  height: 120px;
}
button{
  float:right;
}