.card {
  max-width: 275px;
  max-height: 390px;
  margin: 10px 16px;
  display: inline-block;
}
img {
  object-fit: cover;
  max-width: 275px;
  max-height: 200px;
}
.action{
    vertical-align: middle;
    padding-left: 10px;
    justify-content: space-between;
    height: 46px !important;
}
mat-card-content{
  margin-bottom: 0px;
  height: 120px;
}
button{
  float:right;
}
.price{
  vertical-align: -webkit-baseline-middle;
  font-weight: bold;
  font-size: 18px;
}
.product-container{
  padding-left: 12px;
}
mat-drawer{
  width: 190px;
}
mat-drawer-content{
  min-height: 100vh;
  padding: 5px auto;
  background-color: white;
}
mat-drawer-container{
  min-height: 100vh;
}
.side-nav:focus{
  outline: none !important;
  background-color: rgb(196, 194, 194);

}





@media screen and (max-width: 580px) {
  .card {
    margin: 1rem 4rem;
  }
}