.example-card {
  max-width: 350px;
  max-height: 450px;
  margin: 10px;
  display: inline-block;
}

.list{
    justify-content: space-around;
}
.action{
    padding-left: 10px;
    justify-content: space-between;
}
