<div class="container-fluid shadow p-3 mb-5 bg-white rounded">
    
    <div class="col-md-12">
        <div class="row">
            <div class="form-group col-md-9 "><h2>Profile</h2></div>

            <div class="form-group col-md-3">
                <button (click)="save()" *ngIf="isEdit" type="submit" class="btn btn-dark btn-sm mr-2">Save</button>
                <button (click)="edit()" *ngIf="!isEdit" type="submit" class="btn btn-dark btn-sm ">Edit</button>
                <button (click)="cancel()" *ngIf="isEdit" type="submit" class="btn btn-light btn-sm ">Cancel</button>
            </div>
        </div>
        <form [formGroup]="userForm" >
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label text-secondary">Name</label>
                    <input [class.is-invalid]="userForm.get('name')?.invalid && userForm.get('name')?.touched " 
                    formControlName="name" type="text" class="form-control" >
                    <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
                        <small *ngIf="userForm.get('name')?.errors?.required" class="text-danger">Name is required</small>
                        <small *ngIf="userForm.get('name')?.errors?.maxlength" class="text-danger">Max 25 characters allowed</small>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label text-secondary">Email</label>
                    <input [attr.readonly]="true"  formControlName="email" type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label  class="control-label text-secondary">Phone</label>
                    <input [class.is-invalid]="userForm.get('phone')?.invalid && userForm.get('phone')?.touched " 
                    formControlName="phone" class="form-control" >
                    <small *ngIf="userForm.get('phone')?.invalid && userForm.get('phone')?.touched " 
                        class="text-danger">Please enter a valid phone number</small>
                </div>
            </div>
            <div formGroupName="address">
                <div class="row">
                    <div class="form-group col-md-6">
                        <h3 class="text-secondary">Address</h3>
                    </div>
                </div> 
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label text-secondary">Building</label>
                        <input formControlName="building" class="form-control" >
                    </div>
                    <div class="form-group col-md-6">
                        <label  class="control-label text-secondary">Landmark</label>
                        <input formControlName="landmark" class="form-control" >
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label text-secondary">Street</label>
                        <input formControlName="street" class="form-control" >
                    </div>
                    <div class="form-group col-md-6">
                        <label  class="control-label text-secondary">City</label>
                        <input formControlName="city" class="form-control" >
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label  class="control-label text-secondary">Zip</label>
                        <input   [class.is-invalid]="userForm.get('address')?.get('zip')?.invalid && userForm.get('address')?.get('zip')?.touched "
                        formControlName="zip" class="form-control" >
                        <span class="text-danger"></span>
                        <small *ngIf="userForm.get('address')?.get('zip')?.invalid && userForm.get('address')?.get('zip')?.touched"  class="text-danger">Please enter a valid zip code</small>
                    </div>
                </div>

            </div>
     
        </form>
    </div>
</div>