  

<div class="col-lg-10 center-item">
    
    <div class="row mt-5">
        <div class="form-group col-10 "><h2>Orders</h2></div>

        <div class="form-group col-2" *ngIf="orders.length!=0 && isLoaded">
            <select [ngModel]="status" (ngModelChange)="setList($event)" class="form-control col-12">
                        <option value="">All</option>
                        <option value="PENDING">Pending</option>
                        <option value="COMPLETED">Complted</option>
                        <option value="CANCELLED">Canceled</option>
            </select>
        </div>
    </div> 
    <mat-spinner *ngIf="!isLoaded"></mat-spinner>
    <div *ngIf="orders.length==0 && isLoaded" class="alert alert-warning" role="alert">
        Seems you have not placed any orders yet. <a routerLink="/home">Click here </a>to start shopping!
    </div>

    <mat-expansion-panel class="mt-1" *ngFor="let order of orderList; let i=index">
        <mat-expansion-panel-header>
        <mat-panel-title class="text-muted">
           Order Id : <b>#{{order.id}}</b>
        </mat-panel-title>
        <mat-panel-description class="description">
            <span>{{order.items.length}}&nbsp;Items</span>
            <span [class]="getBadgeClass(order.orderStatus)">{{order.orderStatus}}</span>
           <span>{{getDate(order.id)| date | titlecase }}</span>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">

            <div class="order-details col-md-7">
                <h3>ITEMS</h3>
                <p *ngFor="let item of order.items; let j=index">
                   <span><b>{{j+1}}</b>:&nbsp;{{item.name}}&nbsp;&nbsp;<b>X&nbsp;{{item.quantity}}</b></span> 
                </p>
            </div>

            <div class="address  col-md-5">
                <h3>Delivery Adderss</h3>
                <p class="text-dark" >{{order.address.building}}</p>
                <p class="text-dark" >{{order.address.street}}</p>
                <p class="text-dark" >{{order.address.landmark}}</p>
                <p class="text-dark" >{{order.address.city}}&nbsp;-&nbsp;{{order.address.zip}} </p>
            </div>
        </div>
        <div class="row mt-1">
            <div class="payment col-12 description">
                <p class="text-muted">Payment Type&nbsp;{{order.paymentType}}</p>
                <span *ngIf="order.transactionId" class="text-muted">transactionId:&nbsp;#{{order.transactionId}}</span>
            </div>
            <div class="total col-12 mt-3">
                <h3>Total :&nbsp;&nbsp;₹ {{order.totalPrice}}</h3>
            </div>
        </div>
        <div class="action">      
            <button *ngIf="order.orderStatus=='PENDING' && user?.role=='ADMIN'" (click)="complete(order)" type="button" class="btn btn-dark btn-sm mr-3">Complete</button>
            <button *ngIf="order.orderStatus=='PENDING'" (click)="cancel(order)" type="button" class="btn btn-light btn-sm">{{user?.role=='ADMIN'?'Reject':'Cancel'}}</button>
        </div>

    </mat-expansion-panel>  
        
</div>