.container-fluid{
    padding-bottom: 60px !important;
}

.row{
    padding: 20px;
    padding-bottom: 0px;
}
.heading-card{
    border-bottom: 1px solid rgb(201, 201, 201);
}
.item-card{
    color: rgb(66, 65, 65);
    border-bottom: 1px solid rgb(201, 201, 201);
    height: 174px;
    padding-top: 9px;

}
mat-card-subtitle{
    color: grey;
}
img{
    width: 150px;
    height: 150px;
}
.item-name{
    margin-bottom: 3px;
}
.item-category{
    margin-bottom: 3px;
}
.item-prize{
    margin-bottom: 3px;
}
.item-action{
    padding: 0px;    
    margin-top: 39px;
}
.icon {
    font-size: 31px;
    line-height: 1;
    min-width: 36px;
}

.icon:hover {
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.center-item{
    margin: 0px auto;
}

input{
    height: 31px;
}
.counter{
    width: 154px !important;
    margin-left: 27px;
}