<div class="auth-card ">    
    <div class="col-12 form-container ">
        <div class="row text-center sign-head">
            <div class="form-group col-12 mt-3"><h1>Eshop-Zone</h1></div>
        </div>
        <div class="col-12 form-head"><h1>Log In</h1></div>
        <form [formGroup]="signinForm"  (submit)="signIn()">
            <div class="form-group col-md-10 centered">
                <label class="control-label text-secondary">Email</label>
                <input formControlName="email" type="text" class="form-control" >
            </div>
            <div class="form-group col-md-10 centered">
                <label class="control-label text-secondary">Password</label>
                <input formControlName="password" class="form-control" >
            </div>
            <div class="form-group col-md-10 centered">
                <button type="submit" class="btn btn-dark">Sign in</button>
            </div>
        </form>
    </div>
</div>